<header class="absolute z-10 w-screen pt-4">
    <nav class="container mx-auto px-10">
        <div class="flex justify-between items-center pl-2 pr-10 py-1 rounded-xl bg-[#4E4E4E] bg-opacity-80 overflow-hidden">
            <div class="w-16 flex items-center justify-center">
                <img
                    src="/icons/logo.png"
                    alt="logo"
                    class="w-full h-full object-cover cursor-pointer"
                    [routerLink]="'/home'" />
            </div>

            <ul class="flex items-center gap-6 text-white text-xl">
                <li
                    *ngFor="let route of _routes"
                    class="cursor-pointer hover:text-[#489188] hover:scale-105 transition-all duration-300 ease-in-out"
                    [routerLink]="route.path"
                    [routerLinkActive]="'active'">
                    {{ route.text }}
                </li>
            </ul>
        </div>
    </nav>
</header>
