<header class="absolute w-screen">
    <nav class="container mx-auto flex justify-between items-center mt-4 pl-2 pr-10 py-1 rounded-xl bg-[#4E4E4E] bg-opacity-80">
        <div class="w-16 flex items-center justify-center">
            <img
                src="/icons/logo.png"
                alt="logo"
                class="w-full h-full object-cover" />
        </div>

        <ul class="flex items-center gap-6 text-white text-xl">
            <li
                *ngFor="let link of links"
                class="cursor-pointer hover:text-[#489188] hover:scale-105 transition-all duration-300"
                [routerLink]="link.path"
                [routerLinkActive]="'active'">
                {{ link.name }}
            </li>
        </ul>
    </nav>
</header>
