<div class="container mx-auto h-screen flex items-center justify-end">
    <div
        class="relative w-1/2 h-[500px] flex flex-col justify-between px-12 py-16 rounded-3xl border border-white bg-[#4E4E4E] bg-opacity-80 text-white">
        <div class="absolute -top-8 -left-12 w-28">
            <img
                src="/icons/curves1.svg"
                alt="curves"
                class="w-full h-full object-cover" />
        </div>

        <ng-container *ngIf="!_isFormVisible">
            <div class="w-full flex flex-col gap-6 overflow-hidden">
                <span class="text-7xl font-extrabold"> Design Your Space For Living </span>

                <p class="text-2xl font-normal">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    dummy text ever since the.
                </p>
            </div>

            <app-button
                class="w-fit"
                [text]="'Contact Now'"
                (click)="_onOpenForm()">
            </app-button>
        </ng-container>

        <ng-container *ngIf="_isFormVisible">
            <div class="w-full flex flex-col gap-6">
                <input
                    class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                    [type]="'text'"
                    [placeholder]="'Name'" />

                <input
                    class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                    [type]="'email'"
                    [placeholder]="'Email'" />

                <textarea
                    class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                    [value]="''"
                    [rows]="4"
                    [placeholder]="'How can we help you?'">
                </textarea>
            </div>

            <app-button
                class="w-fit"
                [text]="'Get Callback'"
                (click)="_onSubmitForm()">
            </app-button>
        </ng-container>
    </div>
</div>

<div class="w-screen bg-[#F6FFFE]">
    <div class="relative container mx-auto flex gap-40 items-center justify-between py-16">
        <app-float-square [side]="'right'"></app-float-square>

        <div class="w-1/2 flex flex-col gap-10">
            <span class="w-3/4 text-5xl font-semibold">Creative Solutions by Professional</span>

            <p class="text-xl">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. h Ipsum has been the industry's standard dummy
                text ever since the 1500s
            </p>

            <div class="flex gap-4 mt-10 justify-between">
                <div class="flex flex-col gap-3 items-center">
                    <span class="text-[#489188] text-5xl font-semibold">120</span>
                    <span class="text-[#6D776C] text-xl">Happy Clients</span>
                </div>

                <span class="border border-[#A7B1A9]"></span>

                <div class="flex flex-col gap-3 items-center">
                    <span class="text-[#489188] text-5xl font-semibold">20</span>
                    <span class="text-[#6D776C] text-xl">Projects Completed</span>
                </div>

                <span class="border border-[#A7B1A9]"></span>

                <div class="flex flex-col gap-3 items-center">
                    <span class="text-[#489188] text-5xl font-semibold">2</span>
                    <span class="text-[#6D776C] text-xl">Awards Won</span>
                </div>
            </div>
        </div>

        <div class="w-1/2 flex gap-10 items-end">
            <div class="w-1/2 rounded-3xl overflow-hidden">
                <img
                    src="/images/modern-room-1.png"
                    alt="modern-room"
                    class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
            </div>

            <div class="w-1/2 rounded-3xl overflow-hidden">
                <img
                    src="/images/living-room-1.png"
                    alt="modern-room"
                    class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
            </div>
        </div>
    </div>
</div>

<div class="w-screen bg-[#F8F8F8]">
    <div class="relative container mx-auto py-16">
        <app-float-square [type]="'secondary'"></app-float-square>

        <div class="w-2/3 rounded-3xl overflow-hidden">
            <img
                src="/images/kitchen-design-1.png"
                alt="modern-room"
                class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
        </div>

        <div class="absolute right-0 top-1/4 w-1/2 flex flex-col gap-10 p-12 bg-white rounded-3xl">
            <span
                class="text-5xl font-semibold line-clamp-2"
                [title]="'Our interiors designed to last a lifetime'">
                Our interiors designed to last a lifetime
            </span>

            <p class="text-xl line-clamp-4">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500sindustry. Lorem Ipsum has been the industry's standard dummy text ever since
            </p>
        </div>
    </div>
</div>

<app-service-list></app-service-list>

<div class="w-screen bg-[#F8F8F8]">
    <div class="container relative mx-auto flex flex-col gap-10 py-16">
        <app-float-square [type]="'secondary'"></app-float-square>

        <div class="flex justify-between items-center">
            <span class="text-5xl font-semibold">Our Featured Projects</span>

            <app-button
                [text]="'View More'"
                [redirectUrl]="'/projects'">
            </app-button>
        </div>

        <div class="w-full flex flex-col gap-6">
            <div class="w-full flex gap-6">
                <div class="w-3/4 h-[464px] rounded-3xl overflow-hidden">
                    <img
                        src="/images/living-room-4.jpg"
                        alt="modern-room"
                        class="w-full h-full object-cover shadow-lg hover:scale-105 transition-all duration-300" />
                </div>

                <div class="w-1/4 flex flex-col gap-6">
                    <div class="h-[220px] rounded-3xl overflow-hidden">
                        <img
                            src="/images/bedroom-interior-2.jpg"
                            alt="modern-room"
                            class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
                    </div>

                    <div class="h-[220px] rounded-3xl overflow-hidden">
                        <img
                            src="/images/living-room-3.jpg"
                            alt="modern-room"
                            class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
                    </div>
                </div>
            </div>

            <div class="w-full flex gap-6">
                <div class="w-1/2 h-[288px] rounded-3xl overflow-hidden">
                    <img
                        src="/images/living-room-2.jpg"
                        alt="modern-room"
                        class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
                </div>

                <div class="w-1/2 h-[288px] rounded-3xl overflow-hidden">
                    <img
                        src="/images/contemporary-office-1.jpg"
                        alt="modern-room"
                        class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
                </div>
            </div>
        </div>
    </div>
</div>

<app-work-card [card]="_procedure"></app-work-card>
