<app-header></app-header>

<div class="absolute -z-10 w-screen h-[calc(100vh-72px)]">
    <img
        src="/images/hero.png"
        alt="background"
        class="w-full h-full" />
</div>

<div class="container mx-auto">
    <div class="h-[calc(100vh-72px)] flex justify-end items-center">
        <div class="w-1/2 flex flex-col gap-5 px-12 py-16 rounded-3xl border border-white bg-[#4E4E4E] bg-opacity-80 text-white">
            <span class="text-7xl font-extrabold"> Design Your Space For Living </span>

            <p class="text-2xl font-normal">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the.
            </p>

            <app-button text="Get Started"></app-button>
        </div>
    </div>
</div>
