<div class="absolute w-screen h-screen flex items-center justify-center">
    <div class="container flex items-center justify-end">
        <ng-container *ngIf="_tabs?.[_currentTab]; else homeTab">
            <div class="w-1/2 flex flex-col gap-14 text-white">
                <span class="text-7xl font-bold">{{ _tabs[_currentTab].title }}</span>

                <span class="text-xl">{{ _tabs[_currentTab].description }}</span>
            </div>

            <div class="w-1/2 flex justify-end">
                <div class="w-fit flex flex-col gap-6 p-3 rounded-xl bg-[#4E4E4E] bg-opacity-80">
                    <a
                        *ngFor="let social of _socials"
                        [href]="social.url"
                        [title]="social.title"
                        [target]="'_blank'"
                        class="w-5 h-5 overflow-hidden cursor-pointer hover:scale-150 transition-all duration-300 ease-in-out">
                        <img
                            src="/icons/{{ social.icon }}.svg"
                            alt="{{ social.title }}"
                            class="w-full h-full object-cover" />
                    </a>
                </div>
            </div>
        </ng-container>

        <ng-template #homeTab>
            <div
                class="relative w-1/2 h-[500px] flex flex-col justify-between px-12 py-16 rounded-3xl border border-white bg-[#4E4E4E] bg-opacity-80 text-white">
                <div class="absolute -top-8 -left-12 w-28">
                    <img
                        src="/icons/curves1.svg"
                        alt="curves"
                        class="w-full h-full object-cover" />
                </div>

                <ng-container *ngIf="!_isFormVisible">
                    <div class="w-full flex flex-col gap-6 overflow-hidden">
                        <span class="text-7xl font-extrabold"> Design Your Space For Living </span>

                        <p class="text-2xl font-normal">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the.
                        </p>
                    </div>

                    <app-button
                        class="w-fit"
                        [text]="'Contact Now'"
                        (click)="_onOpenForm()">
                    </app-button>
                </ng-container>

                <ng-container *ngIf="_isFormVisible">
                    <div class="w-full flex flex-col gap-6">
                        <input
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [type]="'text'"
                            [placeholder]="'Name'" />

                        <input
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [type]="'email'"
                            [placeholder]="'Email'" />

                        <textarea
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [value]="''"
                            [rows]="4"
                            [placeholder]="'How can we help you?'">
                        </textarea>
                    </div>

                    <app-button
                        class="w-fit"
                        [text]="'Get Callback'"
                        (click)="_onSubmitForm()">
                    </app-button>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>

<div class="absolute -z-10 w-screen h-screen">
    <video
        class="w-full h-full bg-cover bg-center bg-no-repeat object-cover"
        loop
        muted
        autoplay>
        <source
            [src]="_videoSource$ | async"
            [type]="'video/mp4'" />
    </video>
</div>
