<div class="absolute w-screen h-screen flex items-center justify-center">
    <div class="container flex items-center justify-end">
        <ng-container *ngIf="_tabs?.[_currentTab]; else homeTab">
            <div class="w-1/2 flex flex-col gap-14 text-white">
                <span class="text-7xl font-bold">{{ _tabs[_currentTab].title }}</span>

                <span class="text-xl">{{ _tabs[_currentTab].description }}</span>
            </div>

            <div class="w-1/2 flex justify-end">
                <div class="w-fit flex flex-col gap-6 p-3 rounded-xl bg-[#4E4E4E] bg-opacity-80">
                    <a
                        *ngFor="let social of _socials"
                        [href]="social.url"
                        [title]="social.title"
                        [target]="'_blank'"
                        class="w-5 h-5 overflow-hidden cursor-pointer hover:scale-150 transition-all duration-300 ease-in-out">
                        <img
                            src="/icons/{{ social.icon }}.svg"
                            alt="{{ social.title }}"
                            class="w-full h-full object-cover" />
                    </a>
                </div>
            </div>
        </ng-container>

        <ng-template #homeTab>
            <div
                class="relative w-1/2 h-[500px] flex flex-col justify-between px-12 py-16 rounded-3xl border border-white bg-[#4E4E4E] bg-opacity-80 text-white">
                <div class="absolute -top-8 -left-12 w-28">
                    <img
                        src="/icons/curves1.svg"
                        alt="curves"
                        class="w-full h-full object-cover" />
                </div>

                <ng-container *ngIf="!_isFormVisible && !_loading && !_isFormSubmissionSuccess && !_isFormSubmissionError">
                    <div class="w-full flex flex-col gap-6 overflow-hidden">
                        <span class="text-7xl font-extrabold"> Design Your Space For Living </span>

                        <p class="text-2xl font-normal">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the.
                        </p>
                    </div>

                    <app-button
                        class="w-fit"
                        [text]="'Contact Now'"
                        (click)="_onOpenForm()">
                    </app-button>
                </ng-container>

                <ng-container *ngIf="_isFormVisible && !_isFormSubmissionSuccess && !_isFormSubmissionError">
                    <div
                        class="w-full flex flex-col gap-4"
                        [ngClass]="{ 'blur-[2px]': _loading }">
                        <input
                            [id]="'name'"
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [type]="'text'"
                            [(ngModel)]="_name"
                            [placeholder]="'Name'" />

                        <input
                            [id]="'phone'"
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [type]="'number'"
                            [(ngModel)]="_phone"
                            [placeholder]="'Phone'" />

                        <input
                            [id]="'email'"
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [type]="'email'"
                            [(ngModel)]="_email"
                            [placeholder]="'Email'" />

                        <textarea
                            [id]="'message'"
                            class="w-full p-3 bg-transparent border border-white rounded-lg text-white outline-none"
                            [rows]="3"
                            [(ngModel)]="_message"
                            [placeholder]="'Please tell us about your project'">
                        </textarea>
                    </div>

                    <app-button
                        class="w-fit"
                        [text]="'Get Callback'"
                        (click)="_onSubmitForm()"
                        [ngClass]="{ 'blur-[2px]': _loading }">
                    </app-button>
                </ng-container>

                <div
                    *ngIf="_loading"
                    class="absolute w-full h-full flex items-center justify-center -mx-12 -my-16">
                    <svg
                        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-[#489188]"
                        viewBox="0 0 100 101">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                </div>

                <ng-container *ngIf="_isFormSubmissionSuccess || _isFormSubmissionError">
                    <div class="absolute w-full h-full flex flex-col items-center justify-center gap-6 -mx-12 -my-16">
                        <div class="w-16 h-16 flex items-center justify-center rounded-full">
                            <img
                                src="{{ _isFormSubmissionError ? '/icons/cancel.png' : '/icons/checked.png' }}"
                                alt="icon"
                                class="w-16 h-16 object-cover" />
                        </div>

                        <span class="text-2xl font-bold">
                            {{ _isFormSubmissionSuccess ? 'Thank you for your submission!' : 'Something went wrong!' }}
                        </span>

                        <span class="text-xl">
                            {{ _isFormSubmissionSuccess ? 'We will get back to you shortly.' : 'Please try again later.' }}
                        </span>

                        <app-button
                            class="w-fit"
                            [text]="_isFormSubmissionSuccess ? 'Submit Another Response' : 'Try Again'"
                            (click)="_onSubmitAnotherResponseClick()">
                        </app-button>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</div>

<div class="absolute -z-10 w-screen h-screen">
    <video
        class="w-full h-full bg-cover bg-center bg-no-repeat object-cover"
        loop
        muted
        autoplay>
        <source
            [src]="_videoSource$ | async"
            [type]="'video/mp4'" />
    </video>
</div>
