<app-video-card
    class="w-screen block bg-[#F6FFFE] pb-20 overflow-hidden"
    [card]="_aboutUsCards[0]">
</app-video-card>

<div class="w-screen bg-[#F8F8F8]">
    <div class="relative container mx-auto flex flex-col md:flex-row px-10 pt-16 md:pt-36 pb-16 gap-10 lg:gap-0">
        <app-float-square
            class="absolute top-0 right-[10%] lg:right-[5%]"
            [side]="'right'">
        </app-float-square>

        <div class="relative w-full md:w-1/2 flex items-center gap-4">
            <div class="relative md:absolute bottom-1/2 w-full lg:w-1/2 h-52 md:h-80 overflow-hidden rounded-3xl">
                <img
                    [src]="'images/shelf.png'"
                    [alt]="'shelf'"
                    class="w-full h-full object-cover hover:scale-105 transition-all duration-300" />
            </div>

            <div
                class="relative lg:absolute right-0 lg:right-1/4 w-full lg:w-1/2 flex flex-col gap-6 justify-start p-7 bg-[#D8E6F7] rounded-3xl">
                <div class="w-10 flex items-center justify-center">
                    <img
                        [src]="'icons/phone.png'"
                        [alt]="'phone'"
                        class="w-full h-full object-cover" />
                </div>

                <span class="text-2xl font-black">CALL US NOW </span>

                <a
                    href="tel:+919986723596"
                    class="w-fit text-lg font-semibold text-[#6E6E6E] underline cursor-pointer">
                    (+91) 998 6723 596
                </a>
            </div>
        </div>

        <div class="relative w-full md:w-1/2 flex items-center lg:items-start">
            <span
                class="w-full 2xl:w-3/4 block text-4xl lg:text-5xl xl:text-6xl text-center md:text-start font-black lg:leading-[60px] xl:leading-[80px]">
                "WORK HARD & GREAT QUALITY IS OUR PRIORITY"
            </span>
        </div>
    </div>
</div>

<app-promo-card [background]="_promoCardBackground"></app-promo-card>

<app-video-card
    class="w-screen block bg-[url('/images/office-space.jpg')] bg-cover bg-center bg-no-repeat bg-[#f6fffee3] bg-blend-lighten overflow-hidden"
    [card]="_aboutUsCards[1]">
</app-video-card>
