<div
    class="w-screen bg-[url('/images/living-area-armchair-1.png')] bg-cover bg-center bg-no-repeat bg-[#f6fffee3] bg-blend-lighten overflow-hidden">
    <div
        #cardContainer
        class="container relative mx-auto py-16">
        <app-float-square
            [side]="floatingSquaresSide"
            [type]="floatingSquaresType">
        </app-float-square>

        <span class="block lg:hidden text-4xl text-center mb-6 font-semibold">Services provided by us</span>

        <div class="w-full flex items-center justify-center gap-7">
            <div
                *ngIf="cardContainerWidth"
                class="flex flex-wrap gap-7"
                [style.width.px]="cardContainerWidth">
                <div
                    *ngFor="let service of visibleServices"
                    class="w-[454px] h-[326px] flex flex-col gap-7 items-center px-10 py-8 bg-white rounded-3xl shadow-lg hover:scale-105 hover:shadow-xl hover:bg-[#F6FFFE] hover:text-[#489188] transition-all duration-300">
                    <img
                        [src]="'icons/' + service.icon + '.svg'"
                        [alt]="service.icon"
                        class="w-16 h-16" />

                    <span class="text-3xl font-semibold truncate">{{ service.title }}</span>

                    <p class="text-xl text-[#5C675A] text-center">{{ service.description }}</p>
                </div>
            </div>

            <div
                *ngIf="services.length !== visibleServices.length"
                class="min-w-[454px] max-w-[454px] flex flex-col gap-7">
                <div class="w-full h-[326px] flex flex-col gap-7 justify-center px-10 py-8">
                    <span class="text-5xl font-semibold">Services provided by us</span>

                    <p class="text-xl text-[#1A2239]">We have been providing great floring solutions service.</p>

                    <app-button
                        *ngIf="isHome"
                        [text]="'View More'"
                        [redirectUrl]="'/services'">
                    </app-button>
                </div>

                <div
                    class="relative w-full h-[326px] flex flex-col gap-7 justify-center px-10 py-8 text-white bg-[#489188] rounded-3xl shadow-lg">
                    <span class="text-5xl font-semibold">+{{ moreServicesCount }}</span>

                    <span class="text-5xl font-semibold">More</span>

                    <div class="absolute top-0 left-1/2 w-28">
                        <img
                            [src]="'icons/curves2.svg'"
                            [alt]="'curves'"
                            class="w-full h-full object-cover" />
                    </div>

                    <div
                        class="absolute top-2/3 left-3/4 w-16 cursor-pointer hover:scale-125 transition-all duration-200 ease-in-out"
                        (click)="_showMoreServices()">
                        <img
                            [src]="'icons/right-arrow.svg'"
                            [alt]="'arrow'"
                            class="w-full h-full object-cover" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
