<div class="w-screen overflow-hidden {{ card.backgroundColor }}">
    <div class="container relative mx-auto px-10 py-16">
        <app-float-square
            [side]="floatingSquaresSide"
            [type]="floatingSquaresType">
        </app-float-square>

        <div class="w-full flex flex-col gap-8 items-center 2xl:items-start text-center 2xl:text-start">
            <span
                *ngIf="card.header"
                class="text-lg text-[#757575] font-black uppercase">
                {{ card.header }}
            </span>

            <span
                *ngIf="card.title"
                class="w-full text-5xl font-black leading-[60px] uppercase {{ card.titleClass }}">
                {{ card.title }}
            </span>

            <div class="flex flex-wrap gap-10 items-center justify-center 2xl:justify-between">
                <div
                    *ngFor="let service of card.services"
                    class="w-full sm:w-[550px] xl:w-[454px] h-full sm:h-[326px] flex flex-col gap-8 justify-center items-center xl:items-start text-center xl:text-start px-10 py-8 rounded-3xl shadow-lg overflow-hidden hover:scale-105 hover:shadow-xl transition-all duration-300"
                    [ngClass]="{ 'bg-[#489188] text-white': service.theme === 'dark', 'bg-white ': service.theme === 'light' }">
                    <div
                        *ngIf="service?.icon; else serial"
                        class="min-w-16 max-w-16 min-h-16 max-h-16 overflow-hidden">
                        <img
                            [src]="'icons/' + service.icon + '.svg'"
                            [alt]="service.icon"
                            class="w-full h-full"
                            [loading]="'lazy'" />
                    </div>

                    <ng-template #serial>
                        <span class="text-5xl font-semibold">{{ service.serial }}</span>
                    </ng-template>

                    <span
                        class="text-3xl"
                        [ngClass]="{ 'font-black': !!service.icon, 'font-semibold': !service.icon }">
                        {{ service.title }}
                    </span>

                    <p
                        class="text-xl"
                        [ngClass]="{ 'text-white': service.theme === 'dark', 'text-[#5C675A]': service.theme === 'light' }">
                        {{ service.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
