<div class="w-screen bg-black overflow-hidden">
    <div class="container relative mx-auto flex flex-col gap-5 px-10 py-16 text-white">
        <app-float-square
            *ngIf="currentTab !== '/contact'"
            class="relative -top-28">
        </app-float-square>

        <div class="flex flex-wrap lg:flex-nowrap gap-x-4 gap-y-16 lg:gap-4 justify-between">
            <div class="w-full sm:w-64 order-1 lg:order-none flex flex-col items-center lg:items-start gap-4">
                <div class="w-32 flex items-center justify-center">
                    <img
                        [src]="'icons/logo.png'"
                        [alt]="'logo'"
                        class="w-full h-full object-cover cursor-pointer hover:scale-125 transition-all duration-300 ease-in-out"
                        [routerLink]="'/home'"
                        [loading]="'lazy'" />
                </div>

                <span class="text-center lg:text-start">Eraya Interiors - Where Imagination Meets Precision.</span>
            </div>

            <div class="w-full sm:w-64 order-3 lg:order-none flex flex-col items-center lg:items-start gap-4">
                <span class="text-xl font-semibold">Services</span>

                <div class="flex flex-col items-center lg:items-start gap-3">
                    <span>Consultation</span>
                    <span>Architecture</span>
                    <span>Iriterior Design</span>
                    <span>Engineering + Aesthetics</span>
                </div>
            </div>

            <div
                class="w-full sm:w-64 order-4 lg:order-none flex flex-col items-center lg:items-start justify-between lg:justify-normal gap-3">
                <span class="text-xl font-semibold">Contact Us</span>

                <a
                    href="tel:+916361043317"
                    class="w-fit text-center lg:text-start cursor-pointer">
                    (+91) 636 1043 317
                </a>
                <a
                    href="mailto:srujana.shetty25@gmail.com"
                    class="w-fit text-center lg:text-start cursor-pointer">
                    {{ 'srujana.shetty25@gmail.com' }}
                </a>
                <span class="w-fit text-center lg:text-start cursor-pointer">Udupi, Mangalore & Bangalore</span>
                <!-- <a
                    class="w-fit text-center lg:text-start cursor-pointer"
                    [href]="'https://maps.app.goo.gl/pnT2aMWBi5BCwMU96'"
                    [target]="'_blank'">
                    123, 4th Cross, 5th Main, 6th Sector, HSR Layout, Bangalore - 560102
                </a> -->
            </div>

            <div class="w-full sm:w-64 lg:w-56 order-2 lg:order-none flex flex-col items-center lg:items-start gap-4">
                <span class="text-xl font-semibold">Recent Works</span>

                <div class="w-56 flex flex-wrap gap-4">
                    <div
                        *ngFor="let image of _recentWorkImages"
                        class="w-16 h-16 flex items-center justify-center cursor-pointer rounded-md overflow-hidden">
                        <img
                            [src]="image"
                            [alt]="'recent-work'"
                            class="w-full h-full object-cover hover:scale-150 transition-all duration-300"
                            [routerLink]="'/projects'"
                            [loading]="'lazy'" />
                    </div>
                </div>
            </div>
        </div>

        <div class="h-[1px] bg-[#C4C4C4] hidden lg:block"></div>

        <div class="flex flex-col-reverse lg:flex-row items-center justify-between gap-4 mt-10 lg:mt-0">
            <span class="text-center lg:text-start">
                &copy; Copyright {{ '@ ' + _currentYear }} Eraya Interiors. All rights reserved. Developed by
                <a
                    [href]="'https://www.linkedin.com/in/vineeth-serigar/'"
                    [target]="'_blank'">
                    😎
                </a>
            </span>

            <div class="flex gap-6">
                <a
                    *ngFor="let social of _socials"
                    class="w-5 h-5 overflow-hidden cursor-pointer hover:scale-150 transition-all duration-300 ease-in-out"
                    [href]="social.url"
                    [title]="social.title"
                    [target]="'_blank'">
                    <img
                        [src]="'icons/' + social.icon + '.svg'"
                        [alt]="social.title"
                        class="w-full h-full object-cover"
                        [loading]="'lazy'" />
                </a>
            </div>
        </div>
    </div>
</div>
